<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
    <link rel="stylesheet" href="./css/room.css">
    <title>Node Chat</title>
</head>

<body>
    <div class="container">
        <div id="header">
            <div class="title">Your room id is</div>
            <input id="btn-leave-room" type="button" value="Exit Room" onclick="leaveRoom()">
        </div>
        <div class="subtitle">
            <p id="roomId">
                <%- id %>
            </p>
        </div>
        <div id="chat-area">
        </div>
        <div class="send-area">
            <textarea id="text-area"></textarea>
            <button type="text" class="submit" onclick="sendMessage()">Send</button>
        </div>
    </div>
    <script type="text/javascript" src="./js/room.js"></script>
</body>

</html>